
    .form-control::placeholder, .form-control::-moz-placeholder {
        color: #6c757d;
        opacity: 1;
    }

    .square-container .input-group .form-control {
        border: 0;
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #989898;
        padding: 0;
        font-size: 14px;
        font-weight: 500;
        height: 40px;
        padding-right: 10px;
    }


    .form-control {
      display: block;
      width: 100%;
      color: #878787;
      background-color: #FFF;
      border: 2px solid #ebebeb;
      border-radius: 0;
    }

    .square-container .input-group {
      border-bottom: 2px solid #3f3f3f;
      padding: 6px 0;
    }

    .square-container .form-group {
      margin: 0;
    }



    .inline [class*="col-"] {
      padding: 0;
    }






.btn-primary {
    color: #FFF;
    background-color: #369971;
    border-color: #369971;
}

.btn {
    font-weight: 400;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .15rem;
}

 .btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgba(0,190,123,.5) !important;
     background-color: #0e6b4d !important;
    border-color: #0e6b4d !important;
}

.btn-primary:active {
    color: #fff;
    background-color: #0e6b4d !important;
    border-color: #0e6b4d !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3cba89;
    border-color: #3cba89;
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #FFF;
    background-color: #167941;
    border-color: #167941;
}

.sign-up-form .sign-up-submit {
    padding: 1.5rem 0rem 1.15rem;
}

.square-container .input-group-prepend .icon {
    font-size: 20px;
    color: #369971;
    padding-top: 1px;
    margin: auto;
}

.square-container .input-group-prepend {
    padding: .6rem .9rem;
    min-width: 3.8rem;
    font-size: 1.2rem;
    margin-right: 0;
}

.form-message {
 display:flex;
 flex-direction:column;
 padding:60px 30px 40px;
 background-color:#283233;
 color:#d4d4d4
}

.user-message {
 display:flex;
 flex-direction:column;
 background-color:#369971;
 color:#FFF;
 padding:155px 30px 40px;
 font-size: 22px;
}

.square-container .square-text {
  font-size: 20px;
}

.alternative-message{
    font-size: 14px;
}

.alternative-message a{
    color: #00ffca;
}

.alternative-message a:hover, .alternative-message a:focus{
    color: #00afaa;
    text-decoration: none;
}

.alternative-message a:active{

}
input{
    transition: color 1.0s  ease-out;
    color: #6c757d !important;

}
.has-error input{
    transition: color 1.0s  ease-out;
    color: #de4444 !important;
}